---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Master List - Packing List">
  <div id="app-root"></div>
</BaseLayout>

<script>
  import { render } from 'solid-js/web';
  import { MasterListPage } from '../components/master-list/MasterListPage';

  const root = document.getElementById('app-root');
  if (root) {
    render(MasterListPage, root);
  }
</script>
